{% load static %}
<div id="footer">
    <div class="footer-section">
      <div class="container">
        <div class="row">

    		  <div class="col-xl-4 col-md-12">
    			  <div class="footer-items">
        			<a href="{% url 'login' %}"><img class="footer-logo" src="#" alt="">Grafice de Temperatura</a>
        			<p>In fiecare zi pierzi timp pretios completand tabele ambigue cu temperatura, pe hartie, cand ai putea completa rapid online si printa la nevoie. Incearca si tu!</p>
        		</div>
          </div>
          <div class="col-xl-3 col-md-4 col-sm-8">
            <div class="footer-items">
              <h3>Contact</h3>
                <ul>
                  <li><a href="#"><i class="fa fa-arrow-right"></i> <span>Email : contact@ninjaweb.tech</span></a></li>
                  <li><a href="#"><i class="fa fa-arrow-right"></i> <span>Telefon :  --------------</span></a></li>
                  <li><a href="#"><i class="fa fa-arrow-right"></i> <span>How It Works</span></a></li>
                  <li><a href="#"><i class="fa fa-arrow-right"></i> <span>Underwriting</span></a></li>
                  <li><a href="#"><i class="fa fa-arrow-right"></i> <span>Employers</span></a></li>
                </ul>
            </div>
          </div>
          <div class="col-xl-2 col-md-3 col-sm-6">
            <div class="footer-items">

            </div>
          </div>
    		  <div class="col-xl-2 col-md-3 col-sm-6">
              <div class="footer-items">
                <h3>Quick Links</h3>
                <ul>
    				      <li><a href="{% url 'login' %}"><i class="fa fa-arrow-right"></i> <span>Login</span></a></li>
                  <li><a href="{% url 'about' %}"><i class="fa fa-arrow-right"></i> <span>About Us</span></a></li>
                  <li><a href="{% url 'contact' %}"><i class="fa fa-arrow-right"></i> <span>Contact Us</span></a></li>
                  <li><a href="{% url 'privacy-policy' %}"><i class="fa fa-arrow-right"></i> <span>Privacy Policy</span></a></li>
                  <li><a href="{% url 'terms-of-service' %}"><i class="fa fa-arrow-right"></i> <span>Term &amp; Condition</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Footer Copyrights -->
    <div class="utf-footer-copyright-item">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">Copyright © 2021 All Rights Reserved.</div>
        </div>
      </div>
    </div>
    <!-- Footer Copyrights / End -->
  </div>
