{% extends 'users/base.html' %}
{% load static %}

{% block title %}Login Page{% endblock %}

{% block content %}
<!-- Hero Section Begin -->
  <section class="section head__slider">
    <div class="head__item" style="height: 82px;"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="head_text">
              <h3>Grafice de Temperatura Online</h3>
              <span>In fiecare zi pierzi timp pretios completand tabele ambigue cu temperatura, pe hartie, cand ai putea completa rapid online si printa la nevoie. Incearca si tu!</span>
              <span>Fa-ti un cont si devino modern!</span>
  		  </div>
          </div>
        </div>
        <!-- Sign In Section Begin -->

      <div class="container mt-4">
        <div class="row">
          <div class="col-xl-6 offset-xl-3">
            <div class="login mb-5">
              <div class="welcome-text">
                <h3>Bine ai revenit! Introdu datele de autentificare</h3>
                <span>Nu ai un cont? <a href="{% url 'register' %}">Inregistreaza-te!</a></span>
    		  </div>
              <form method="POST" id="login-form">
                {% csrf_token %}
                <div class="utf-no-border">
                  <input type="text" class="input-border" name="username" id="emailaddress" placeholder="Email Address" required="" autocomplete="off">
                </div>
                <div class="utf-no-border">
                  <input type="password" class="input-border" name="password" id="password" placeholder="Password" required="" autocomplete="off" >
                </div>
                <a href="#" class="forgot-password">Forgot Password?</a>
                <button class="button full-width sliding_icon ripple-effect mt-2" type="submit">Log In <i class="fa fa-chevron-right"></i></button>
              </form>

              <!-- <div class="social-login"><span>Or Login in With</span></div> -->
              <!-- <div class="social-login-buttons">
                <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Facebook</button>
          			<button class="google-login ripple-effect"><i class="icon-brand-google"></i> Google+</button>
          			<button class="twitter-login ripple-effect"><i class="icon-brand-twitter"></i> Twitter</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
        <!-- Sign In Section End -->

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="feat-jobs">
              <ul class="feat-jobs-list">
                <li> <a href="#" class="feat_jobs-grid">
                  <div class="feat_jobs-box"> <i class="fa fa-pie-chart"></i>
                    <p>Restaurante</p>
                  </div>
                  </a>
                </li>
                <li> <a href="#" class="feat_jobs-grid">
                  <div class="feat_jobs-box"><i class="fa fa-tools"></i>
                    <p>Cofetarii</p>
                  </div>
                  </a>
                </li>
                <li> <a href="#" class="feat_jobs-grid">
                  <div class="feat_jobs-box"> <i class="fa fa-phone"></i>
                    <p>Patiserii</p>
                  </div>
                  </a>
                </li>
                <li> <a href="#" class="feat_jobs-grid">
                  <div class="feat_jobs-box"> <i class="fa fa-heartbeat"></i>
                    <p>Farmacii</p>
                  </div>
                  </a>
                </li>
                <li> <a href="#" class="feat_jobs-grid">
                  <div class="feat_jobs-box"> <i class="fa fa-palette"></i>
                    <p>Medical</p>
                  </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>


</section>
{% endblock %}
